<!-- pad-wrapper -->
<div id="pad-wrapper">
	<p>{{title}}</p>
	<div class="divCenter">
		<p>{{message}}</p>
		<p>
	  		<button type="button" id="delete" class="btn btn-primary">Delete</button>
	  		<button type="button" id="cancel" class="btn btn-default">Cancel</button>
		</p>
	</div>
</div>
