<div id="pad-wrapper">
	<div class="alert alert-warning alert-dismissable">
  		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  		<strong>{{msg}}</strong>
	</div>
</div>