{{#if messages}}
    {{#each messages}}
    	<div class="alert alert-{{type}} alert-dismissable">
		  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  <strong>{{type}}</strong> {{message}}
		</div>
    {{/each}}
{{/if}}

