<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <li id="home">
            <a href="#">
                <i class="icon-home"></i>
                <span>Home</span>
            </a>
        </li> 
        <li id="auth">
            <a class="dropdown-toggle" href="#">
                <i class="icon-lock"></i>
                <span>API Auth</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="#auth">사용자키 발급승인</a></li>
                <li><a href="#auth-request">사용처 등록</a></li>
                <li><a href="#auth-access-limit">Access Limit</a></li>
                <li><a href="#auth-traffic">Traffic Limit</a></li>
                <li><a href="#auth-black-list">Black List</a></li>
            </ul>
        </li>   
        <li id="category">
            <a class="dropdown-toggle" href="#">
                <i class="icon-folder-close-alt"></i>
                <span>Category</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="#category">List & Modify</a></li>
                <li><a href="#category-register">Register</a></li>
            </ul>
        </li>   
        <li id="autoscraping">
            <a class="dropdown-toggle" href="#">
                <i class="icon-cogs"></i>
                <span>RSS</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="#autoscraping">Autoscraping</a></li>
                <li><a href="#autoscraping-register">RSS Register</a></li>
            </ul>
        </li>
        <li id="search">
            <a href="#search">
                <i class="icon-search"></i>
                <span>Search</span>
            </a>
        </li>
        <li id="notification">
            <a href="#notification">
                <i class="icon-bell"></i>
                <span>Notification</span>
            </a>
        </li>
        <li id="message">
            <a href="#message">
                <i class="icon-envelope"></i>
                <span>Message</span>
            </a>
        </li>
        <li id="iodocs">
            <a href="http://110.45.159.248:3000" target="blank">
                <i class="icon-book"></i>
                <span>API Docs</span>
            </a>
        </li>
    </ul>
</div>